<form [formGroup]="productsFilterGroup" class="isCartFilter-{{isCartFilter()}}">
  <!-- maxProductPrice -- {{maxProductPrice()}} -->
  <div class="flex justify-between items-top mb-5 filter-wrap">
    <div class="flex justify-between items-top gap-6  filter-row-1">
      <div class="flex flex-col gap-1">
        <label for="username" class="block mb-1">Category</label>
        <p-autoComplete [(ngModel)]="selectedCategory" [suggestions]="categoryList" [placeholder]="'All'"
          (completeMethod)="filterMethodCategory($event)" (onSelect)="filterProducts()" [dropdown]="true"
          formControlName="category" styleClass="btn-sm" />
      </div>
      <div class="flex flex-col gap-1">
        <label for="username" class="block mb-1">InStock</label>
        <p-autoComplete [(ngModel)]="selectedInstock" [suggestions]="instockList" [placeholder]="'True'"
          (completeMethod)="filterMethodInstock($event)" (onSelect)="filterProducts()" [dropdown]="true"
          formControlName="instock" />
      </div>
      <div class="flex flex-col gap-1">
        <label for="buttondisplay" class="block mb-1">Date Range</label>
        <p-calendar [(ngModel)]="rangeDates" selectionMode="range" formControlName="date" (onClose)="filterProducts()"
          [readonlyInput]="true" />
      </div>
    </div>
    <div class="flex flex-col gap-1">
      <label for="username" class="block mb-1">Price Range</label>
      <p-inputGroup>
        <input title="Price From" type="number" pInputText formControlName="priceFrom" [value]="priceFrom" readonly />
        <input title="Price To" type="number" pInputText formControlName="priceTo" [value]="priceTo"
          [defaultValue]="maxProductPrice()" readonly />
      </p-inputGroup>
      <p-slider [(ngModel)]="rangeValues" [range]="true" formControlName="price" (onChange)="displayPriceStatus($event)"
        (onSlideEnd)="filterProducts()" />
    </div>
  </div>
</form>
