<!-- <app-header [firstName]="cn['firstName'].value" [lastName]="cn['lastName'].value"></app-header> -->
<app-header></app-header>
<div class="">
  <div class="m-3 sm:w-8/12 mx-auto">
    <p-panel header="Header">
      <div class="form-group">
        <form [formGroup]="studentRegForm">
          <div>
            <div class="flex items-center gap-6  justify-center">
              <div class="w-full">
                <label for="email">Email</label>
                <input [title]="'email'" type="email" class="w-full p-inputtext-lg" placeholder="Email" name="email"
                  formControlName="email" pInputText />
              </div>
              <div class="w-full">
                <label for="password">Password</label>
                <input title="Name" type="password" [placeholder]="'Password'" class="w-full p-inputtext-lg"
                  name="password" formControlName="password" pInputText />
              </div>
            </div>
          </div>
        </form>
        <p-button severity="success" (click)="signin()" [disabled]="studentRegForm.status == 'INVALID'">Proceed to Buy
        </p-button>
      </div>
    </p-panel>
  </div>
</div>




<p-toast position="top-right" [baseZIndex]="5000">
  <p>sdfdsfdf</p>
</p-toast>
