<!-- Header -->
@defer (on viewport; prefetch on timer(0)) {
<div class="card">
  <p-toolbar>
    <ng-template pTemplate="start">
      <div class="flex items-center gap-2">
        <a [routerLink]="'/shopping'" class="p-menuitem-link">
          <i class="pi pi-cart-plus" style="font-size: 2rem"></i>
        </a>

        <span class="flex flex-col items-start font-bold text-bluegray-50 mt-5 logo-link-wrap">
          <!-- {{ _cart.firstName() === '' ? _cart.firstName() :  firstName()}} {{ _cart.lastName() === '' ? _cart.lastName() : lastName() }} -->
          <span>
            <p class="m-0 text-gray-400">Welcome to</p>
          </span>
          <a [routerLink]="'/shopping'" class="p-menuitem-link logo-link flex justify-start items-center">
            <h4 class="m-0">sumit's</h4>
            <img [height]="80" [src]="'../../../../assets/images/ShopApp.svg'" [title]="'Shop'" [alt]="'Shop'" />
          </a>
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="end">

      <!-- <p-autoComplete [dropdown]="true" [suggestions]="profileOptions"
        (completeMethod)="profileOptions=['Cart History','Sign Out']" (onSelect)="processProfileDropdown($event)" /> -->
      <!-- <div class="card flex justify-content-center">
        <i class="pi pi-user text-3xl" (click)="_auth.signout()"></i>
        <span>{{user?.name}}</span>
      </div> -->
      <div class="flex items-center gap-5 ">
        @if(user && !user?.admin) {
        <div class="card flex justify-content-center">
          <i class="pi pi-cart-plus text-3xl" pBadge [value]="cartQty()" (click)="_cart.openSideCartPanel()"></i>
        </div>
        }

        <!-- [disabled]="user?.admin || user?.admin!=='' || user!==undefined" -->
        <p-splitButton [label]="user?.name" [hidden]="!user" [model]="items" [icon]="'pi pi-user text-1xl'" raised
          text />
      </div>
      <!-- {{_cart.sideCartOpen()}} -- _cart.sideCartOpen -->
      <!-- <div class="card flex justify-content-center">
        <div class="card flex justify-content-center">
          <p-menu #menu [model]="items" [popup]="true">
            <ng-template pTemplate="item" let-item>
              <a [routerLink]="item.route" class="p-menuitem-link">
                <span [class]="item.icon"></span>
                <span class="ml-2">{{ item.label }}</span>
              </a>
            </ng-template>
          </p-menu>
        </div>
        <p-button (onClick)="menu.toggle($event)" icon="pi pi-ellipsis-v" />
      </div> -->

      <!-- <div class="card flex justify-content-center">
                    <p-overlayPanel #op>
                        <ng-template pTemplate="content">
                            <h4>Custom Content</h4>
                        </ng-template>
                    </p-overlayPanel>
                    <i class="pi pi-cart-plus text-3xl" pBadge [value]="totalQty()"  (click)="op.toggle($event)"></i>
                </div> -->
    </ng-template>
  </p-toolbar>
</div>
} @placeholder {
<div></div>
} @loading {
<div>
  <p-skeleton styleClass="mb-2"></p-skeleton>
  <p-skeleton styleClass="mb-2"></p-skeleton>
</div>
} @error {
<i class="pi pi-search" style="font-size: 2rem"></i>
}
<!-- Header ends -->
