<!-- Header -->
@defer (on viewport; prefetch on timer(0)) {
    <div class="card">
        <p-toolbar>
            <ng-template pTemplate="start">
                <div class="flex align-items-center gap-2">
                    <i class="pi pi-cart-plus" style="font-size: 2rem"></i>
                    <span class="font-bold text-bluegray-50">{{ _cart.firstName() === '' ? _cart.firstName() :  firstName()}} {{ _cart.lastName() === '' ? _cart.lastName() : lastName() }}</span>
                </div>
            </ng-template>
            <ng-template pTemplate="end">
                <!-- {{_cart.sideCartOpen()}} -- _cart.sideCartOpen -->
                <div class="card flex justify-content-center">
                    <i class="pi pi-cart-plus text-3xl" pBadge [value]="cartQty()" (click)="_cart.toggleSideCartPanel()" ></i>
                </div>
                <!-- <div class="card flex justify-content-center">
                    <p-overlayPanel #op>
                        <ng-template pTemplate="content">
                            <h4>Custom Content</h4>
                        </ng-template>
                    </p-overlayPanel>
                    <i class="pi pi-cart-plus text-3xl" pBadge [value]="totalQty()"  (click)="op.toggle($event)"></i>
                </div> -->

            </ng-template>
        </p-toolbar>
    </div>
} @placeholder {
    <div></div>
} @loading {
    <div>
        <p-skeleton styleClass="mb-2"></p-skeleton>
        <p-skeleton styleClass="mb-2"></p-skeleton>
    </div>
} @error {
    <i class="pi pi-search" style="font-size: 2rem"></i>
}
<!-- Header ends -->