<app-header [cartQty]="cart_qty().length"></app-header>
<p-toast key="std"></p-toast>
<p-dialog #showLoaderDialog [header]="'Loader'" [modal]="true" [(visible)]="showLoader" [style]="{ width: '50rem' }"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [maximizable]="true">
  <p-progressBar [value]="progressValue"></p-progressBar>
</p-dialog>
<div class="">
  <div class="m-3 sm:w-full md:w-10/12 mx-auto">
    <!-- <app-shopping-list-db></app-shopping-list-db> -->

    @if(pageIs === 'product' || pageIs === null){
    <!-- Table data filters -->
    <div class="card flex justify-content-center">
      <app-shopping-filters [categoryListDefined]="categoryListDefined" [maxProductPrice]="maxProductPrice()"
        (payloadShoppingFilterValue)="filterProducts($event)"></app-shopping-filters>
    </div>

    <!-- Table structure data -->
    <p-panel header="Products Showoom">
      @defer (on viewport; prefetch on timer(0)) {
      <div class="form-group">
        <!-- <form [formGroup]="buyProductsForm"> -->
        <!-- <input type="checkbox" class="" placeholder="selectedAny" name="selectedAny" formControlName="selectedAny"  /> -->
        <div class="flex items-start justify-center">
          <div class="w-full mx-auto">
            <div class="card">
              @if(products()!==undefined && products().products!==undefined && products().products.length) {
              <div class="flex justify-between">
                <p-button label="Buy" icon="pi pi-check" (click)="singleReq_addProducts()" [size]="'small'" />
                <div class="flex gap-3">
                  @if(user?.admin) {
                  <input #uploadExcel value="Upload Products Excel" type="file"
                    class="p-ripple p-element p-button p-component p-button-warning p-button-sm"
                    [style.visibility]="'hidden'" (change)="processUploadProductExcel($event)" />

                  <p-button label="Upload Products Excel" icon="pi pi-upload"
                    (click)="showProcessUploadExcelOption = true;" severity="secondary" [size]="'small'" />

                  <p-dialog #uploadProductsReplaceAppend [header]="'Upload Products Excel'" [modal]="true"
                    [(visible)]="showProcessUploadExcelOption" [style]="{ width: '50rem' }"
                    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [maximizable]="true">
                    <h4>Do you want to "Replace" or "Append" the products after Uploading Products Excel sheet ?</h4>
                    <p>Note: If you choose "Append", then the total products uploaded will be not more than 10. if
                      products are already there, and they are lss than 10, then only the difference in the qty, will be
                      uploaded. Eg: if 4 products are there, and products you are trying to upload are 7, then only 6
                      will be uploaded, which takes the quantity to 10 (4+6).</p>
                    <p>With "replace" all the prev products will be removed. And 10 fresh products will be uploaded from
                      the Excel.</p>
                    <div class="flex justify-end items-end pt-8 gap-2">
                      <div></div>
                      <div class="flex gap-4">
                        <p-button label="Replace" [size]="'small'" severity="secondary" type="button"
                          (click)="uploadExcel.click();uploadExcelReplace=true;showProcessUploadExcelOption = false;" />
                        <p-button label="Append" [size]="'small'" severity="info"
                          (click)="uploadExcel.click();uploadExcelReplace=false;showProcessUploadExcelOption = false;"
                          type="button" />
                      </div>
                    </div>
                  </p-dialog>
                  }
                  <p-button label="Download Products PDF" icon="pi pi-download" (click)="processDownloadProductPDF()"
                    severity="secondary" [size]="'small'" />
                  <p-button label="Download Products Excel" icon="pi pi-download"
                    (click)="processDownloadProductExcel('product')" severity="secondary" [size]="'small'" />
                  <!-- <p-button label="Upload Products Excel" icon="pi pi-upload" [type]="'file'"
                      (change)="processUploadProductExcel($event)" severity="warning" [size]="'small'" /> -->


                </div>
              </div>
              }
              <p-table [value]="products().products" [(selection)]="selectedProducts" dataKey="id">
                <ng-template pTemplate="header">
                  <tr>
                    <th style="width: 2rem">
                      <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>
                    <th style="width: 20%">Image</th>
                    <th style="width: 14%">Id</th>
                    <th style="width: 14%">Name</th>
                    <th style="width: 14%">Category</th>
                    <th style="width: 8%">InStock</th>
                    <th style="width: 8%">Price</th>
                    <th style="width: 14%">Manufacturing Date</th>
                    <th style="width: 14%">Expiry Date</th>
                    <th style="width: 8%">Availability span (days)</th>
                    <th style="width: 4%">Action</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product>
                  <tr>
                    <td>
                      <p-tableCheckbox [value]="product"></p-tableCheckbox>
                    </td>
                    <td>
                      <img title="{{ product?.name }}"
                        class="rounded-md w-20 sm:w-16rem shadow-2 block xl:block mx-auto border-round" [src]="!product?.imagePath?.length ? 'https://placehold.co/150x150?text='+product?.name :
                            server_url + product?.imagePath[0] " [alt]="'{{ product?.name }}'" />
                    </td>
                    <td>{{product?.id}}</td>
                    <td>{{product?.name}}</td>
                    <td>
                      <p-button class="" [label]="product?.category" (click)="view('category',product?.category)"
                        [size]="'small'" [rounded]="true" severity="secondary" />
                    </td>
                    <td>{{product?.instock}}</td>
                    <td>{{product?.price}}</td>
                    <td>{{ m2(product?.md).format("DD-MM-YYYY") }}</td>
                    <td>{{ m2(product?.ed).format("DD-MM-YYYY") }}</td>
                    <!-- <td>{{ product?.md }}</td>
                    <td>{{ product?.ed }}</td> -->
                    <td>{{ m2(product?.ed).diff(m2(product?.md), 'days')}}</td>
                    <td>
                      @if(user?.admin){
                      <p-button class="" title="Edit Product" icon="pi pi-file-edit" (click)="editProduct(product)"
                        [rounded]="true" [size]="'small'" severity="success" />
                      <p-button class="" title="Delete Product" icon=" pi pi-trash"
                        (click)="removeProduct(product?._id)" [rounded]="true" [size]="'small'" severity="danger" />
                      } @else {
                      @if(product?.instock){
                      <p-button class="" title="Buy Product" icon=" pi pi-plus" (click)="addProduct(product)"
                        [rounded]="true" [size]="'small'" severity="success" />
                      }
                      }
                      <p-button class="" title="View Product" icon=" pi pi-eye" (click)="view('product',product?.id)"
                        [rounded]="true" [size]="'small'" severity="secondary" />
                    </td>
                  </tr>
                </ng-template>

              </p-table>
            </div>
          </div>
        </div>
        <!-- </form> -->
      </div>
      } @placeholder {
      <div></div>
      } @loading {
      <p-progressSpinner></p-progressSpinner>
      <div>
        <p-skeleton styleClass="mb-2"></p-skeleton>
        <p-skeleton styleClass="mb-2"></p-skeleton>
        <p-skeleton styleClass="mb-2"></p-skeleton>
      </div>
      } @error {
      <i class="pi pi-search"></i>
      }
    </p-panel>

    @if(user?.admin) {
    <!-- Table data filters -->
    <!-- <p-button icon="pi pi-plus" class="absolute bottom-10 right-10" severity="success" /> -->
    <p-button class="btn-add-product" title="Add Products" icon="pi pi-plus"
      (click)="productImgToBeUploaded = [];  progressAddEditFormUploadImgs=0; shouldAddNewProduct = true;addNewProduct()"
      [rounded]="true" severity="success" [size]="'large'" />
    }
    }
    @if(pageIs === 'productDetails'){

    <!-- <div>
      @if(selectedProductDetails?.imagePath?.length) {
      <div class="flex">
        <p-carousel [value]="selectedProductDetails?.imagePath" [numVisible]="1" [numScroll]="1" [circular]="false">
          <ng-template let-product pTemplate="item">
            <div class="imgBox">
              <img [alt]="product" [title]="product" [src]="env + product" />
            </div>
            
          </ng-template>
        </p-carousel>
      </div>
      } @else {
      <img title="{{ selectedProductDetails?.name }}"
        class="w-20 sm:w-16rem shadow-2 block xl:block mx-auto border-round"
        [src]="'https://placehold.co/84x84?text='+ selectedProductDetails?.name "
        [alt]="'{{ selectedProductDetails?.name }}'" />
      }
    </div> -->

    <app-product-display-big-db [item]="selectedProductDetails" [mode]="'read'" [productView]="true" (evt)="$event.type === 'delete' ? removeProduct($event.product?._id) : $event.type === 'buy' ?
      addProduct($event.product) : editProduct($event.product)">
    </app-product-display-big-db>

    } @if(pageIs === 'category') {
    <!-- categoryListDefined -- {{categoryListDefined}} -->
    <div class="grid grid-cols-2 gap-4">
      @for(cat of categoryListDefined?.categories; track cat) {
      <a class="transition-colors py-10 flex justify-center cursor-pointer bg-slate-900 dark:bg-slate-1100 rounded-lg hover:bg-slate-700"
        (click)="view('category',cat)">
        {{cat}}
      </a>
      }
    </div>
    }



    @if(user?.admin){
    <!-- @if(pageIs === 'product' || pageIs === null){ -->
    <!-- Add / Edit Product -->
    <p-dialog #AddEditPoductModal [header]="shouldAddNewProduct ? 'Add Product' : 'Edit Product'" [modal]="true"
      [(visible)]="showAddEditPoductModal" [style]="{ width: '50rem' }"
      [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [maximizable]="true">
      <form [formGroup]="addEditProductForm" class="add-edit-product-form" enctype="multipart/form-data"
        (ngSubmit)="processAddEditProductForm()">
        <div class="grid grid-cols-2 gap-4 ">
          <div class="flex flex-col gap-2 ">
            <label for="username">Name</label>
            <input pInputText formControlName="name"
              [ngModel]="productToBeEdited !== null ? productToBeEdited.name : ''" />
          </div>
          <div class="flex flex-col gap-2">
            <label for="username">Category</label>
            <p-autoComplete [ngModel]="productToBeEdited !== null ? productToBeEdited.category : ''"
              [suggestions]="categoryList" [placeholder]="'All'" (completeMethod)="filterMethodCategory($event)"
              [dropdown]="true" formControlName="category" styleClass="w-full" />
          </div>
        </div>
        <div class="grid gap-4  mt-4">
          <div class="flex flex-col gap-2">
            <label for="username">Images</label>
            @if(productToBeEdited?.imagePath?.length) {
            <div class="flex gap-4">
              <!-- <p-carousel [value]="productToBeEdited.imagePath" [numVisible]="1" [numScroll]="1" [circular]="false">
                                <ng-template let-product pTemplate="item"> -->
              @for (item of productToBeEdited?.imagePath; track '_id') {
              <div class="imgBox rounded-md">
                <p-button class="absolute btn-remove-prod-imgs" icon=" pi pi-times"
                  (click)="removeProductImg(productToBeEdited.id,item)" [rounded]="true" severity="danger"
                  [size]="'small'" />
                <img [alt]="item" class="rounded-md" [title]="item" [src]="server_url + item" />
              </div>
              }
              <!-- </ng-template>
               </p-carousel> -->
            </div>
            }
          </div>
          <div class="">
            <div class="grid grid-cols-2 gap-4">
              <input pInputText name="img" type="file" formControlName="img" multiple="true"
                (change)="handleProductImg($event)" />
              <div class="card">
                <p-progressBar [value]="progressAddEditFormUploadImgs" />
              </div>
            </div>
            <ng-template [ngIf]="productImgToBeUploaded !== undefined && productImgToBeUploaded.length">

              @for (file of productImgToBeUploaded; track $index) {
              @if($index < 3) { <!-- {{ file.name }} - {{ file.size }} bytes -->
                <p-tag class="block mt-1" icon="pi pi-file" [severity]="'secondary'"
                  value="{{ file.name }} - {{ file.size }} bytes" />
                }
                }

            </ng-template>

            <!-- <p-fileUpload name="img" (onUpload)="handleProductImgFileupload($event)" (onSelect)="onSelect($event)"
                            (uploadHandler)="uploadHandler($event)"
                            (onSend)="onSend($event)" [multiple]="true" accept="image/*" maxFileSize="1000000">
                            <ng-template pTemplate="content">
                              <ul *ngIf="uploadedFiles.length">
                                <li *ngFor="let file of uploadedFiles">
                                  {{ file.name }} - {{ file.size }} bytes
                                </li>
                              </ul>
                            </ng-template>
                          </p-fileUpload> -->
          </div>
        </div>
        <div class="grid grid-cols-2 gap-4  mt-4">
          <div class="flex flex-col gap-2">
            <label for="username">Price</label>
            <input pInputText formControlName="price" [type]="'number'"
              [ngModel]="productToBeEdited !== null ? productToBeEdited.price : ''" />
          </div>
          <div class="flex flex-col gap-2">
            <label for="username">InStock</label>
            <p-autoComplete [dropdown]="true" [ngModel]="productToBeEdited !== null ? productToBeEdited.instock ? 'In Stock' : 'Out of Stock' :
                                true" [suggestions]="stockOptions"
              (completeMethod)="stockOptions=[{name:'In Stock',value:true},{name:'Out of Stock', value:false}]"
              optionLabel="name" name="instock" formControlName="instock" styleClass="w-full" />
          </div>
        </div>
        <div class="grid grid-cols-5 gap-4  mt-4">
          <div class="col-span-2 flex flex-col gap-2">
            <label for="username">Manufacturing Date</label>
            <p-calendar [(ngModel)]="productToBeEdited_md_date" dataType="string" formControlName="md"
              [style]="{'width':'100%'}" [inline]="true" (onClose)="selectDate($event)" (onSelect)="selectDate($event)"
              styleClass="w-full" />
          </div>
          <div class="flex flex-col gap-2 justify-center items-center">
            <!-- 23 days -->
          </div>
          <div class="col-span-2 flex flex-col gap-2">
            <label for="username">Expiry Date</label>
            <p-calendar [(ngModel)]="productToBeEdited_ed_date" dataType="string" formControlName="ed"
              [style]="{'width':'100%'}" [inline]="true" (onClose)="selectDate($event)" (onSelect)="selectDate($event)"
              styleClass="w-full" />
          </div>
        </div>

        <!-- <ng-template pTemplate="footer"> -->
        <div class="flex justify-end items-end pt-8 gap-2  mt-4">
          <div class="flex gap-4">
            <p-button label="Cancel" severity="secondary" />
            <p-button label="Proceed" severity="success" type="submit" />
          </div>
        </div>
        <!-- </ng-template> -->
      </form>
    </p-dialog>
    <!-- } -->
    }

    @if(!user?.admin){
    <!-- Cart -->
    <app-sidecart [detectChange]="_cart.onDetectChangeSideCart()" [cart]="_cart.cart()" [cartSpecs]="cartSpecs()"
      [orderId]="orderId" [categoryListDefined]="categoryListDefined" [maxProductPrice]="maxProductPrice()"
      (filterQuery)="filter_cart($event)" (fetchCartOutput)="fetch_cart()" (eventProduct)="$event.downloadType ===
      'excel' ? processDownloadProductExcel('cart') : processDownloadProductPDF('cart')">
    </app-sidecart>

    <!-- Product Add Toast Notification -->
    <p-toast position="bottom-left" key="addProduct" class="toast-prod-mssg" [baseZIndex]="5000">
      <ng-template let-message pTemplate="headless" let-closeFn="closeFn">
        <div class="flex flex-col align-items-start" style="flex: 1">
          <div>
            <img title="{{ latestProductAdded.product.name }}" class="shadow-2 block xl:block mx-auto border-round"
              [src]="'https://placehold.co/362x180?text='+ (message.data.type === 'single' ?
                        message.data.product.name : message.data.productNames.toString()) "
              [alt]="'{{ message.data.product.name}}'" />
          </div>
          <div>
            <div class="flex flex-row">
              @if(message.data.type === 'single'){
              <div class="w-60">
                {{message.data.product.id}}
              </div>
              }
              <div class="flex flex-row justify-between w-full font-bold text-900 ">
                <div class="w-3/4">
                  {{ message.data.type === 'single' ? message.data.product.name : '' }}
                  @if(message.data.type !== 'single'){
                  @for(e of selectedMultipleProducts; track e.id) {
                  <div>{{e.name}} ({{e.category}}) - {{e.price}}</div>
                  }
                  }
                </div>
                <div>
                  {{ message.data.type == 'single' ? message.data.product.price : message.data.totalPrice }}
                </div>
              </div>
            </div>
          </div>

        </div>
      </ng-template>
    </p-toast>
    }
  </div>
</div>
