<!-- <app-header></app-header>

<div class="">
  <div class="m-3 sm:w-8/12 mx-auto">
    <div class="card flex justify-content-center">
    </div>
    <p-panel header="Header">
      @defer (on viewport; prefetch on timer(0)) {
      <div class="form-group">
        <div class="flex items-start justify-center">
          <div class="w-full mx-auto">
            <div class="card">
              <p-table [value]="products().products" dataKey="id" [tableStyle]="{'min-width': '50rem'}">
                <ng-template pTemplate="header">
                  <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Manufacturing Date</th>
                    <th>Expiry Date</th>
                    <th>Price</th>
                    <th>Qty</th>
                    <th>Total Price</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product>
                  <tr>
                    <td>{{product.id}}</td>
                    <td>{{product.name}}</td>
                    <td>{{product.category}}</td>
                    <td>{{product.md}}</td>
                    <td>{{product.ed}}</td>
                    <td>{{product.price}}</td>
                    <td>{{product.qty}}</td>
                    <td>{{product.totalPrice}}</td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </div>
      </div>
      } @placeholder {
      <div></div>
      } @loading {
      <p-progressSpinner></p-progressSpinner>
      <div>
        <p-skeleton styleClass="mb-2"></p-skeleton>
        <p-skeleton styleClass="mb-2"></p-skeleton>
        <p-skeleton styleClass="mb-2"></p-skeleton>
      </div>
      } @error {
      <i class="pi pi-search"></i>
      }
    </p-panel>
  </div>
</div> -->
