<app-header></app-header>
<p-dropdown [options]="orders" optionLabel="name" [(ngModel)]="selectedOrderName" (onChange)="selectOrder($event)"
  placeholder="Select Order" />
<div class="">
  <div class="m-3 sm:w-8/12 mx-auto">
    <div class="card flex justify-content-center">
      <app-shopping-filters [categoryListDefined]="categoryListDefined" [maxProductPrice]="maxProductPrice"
        [isCartFilter]="true" (payloadShoppingFilterValue)="filter_cart($event)"></app-shopping-filters>
    </div>
    <p-panel header="Header">
      @defer (on viewport; prefetch on timer(0)) {
      <div class="form-group">
        <div class="flex items-start justify-center">
          <div class="w-full mx-auto">
            <div class="card">
              <p-table [value]="productList()" dataKey="id" [paginator]="true" [rows]="5">
                <ng-template pTemplate="header">
                  <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Manufacturing Date</th>
                    <th>Expiry Date</th>
                    <th>Price</th>
                    <th>Qty</th>
                    <th>Total Price</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-order>
                  <tr>
                    <td>{{order?.products?.id}}</td>
                    <td>{{order?.products?.name}}</td>
                    <td>{{order?.products?.category}}</td>
                    <td>{{order?.products?.md}}</td>
                    <td>{{order?.products?.ed}}</td>
                    <td>{{order?.products?.price}}</td>
                    <td>{{order?.qty}}</td>
                    <td>{{order?.products?.price * order?.qty}}</td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="footer" let-order>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>{{cartQtyTotal()}}</td>
                    <td>{{cartPriceTotal()}}</td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </div>
      </div>
      } @placeholder {
      <div></div>
      } @loading {
      <p-progressSpinner></p-progressSpinner>
      <div>
        <p-skeleton styleClass="mb-2"></p-skeleton>
        <p-skeleton styleClass="mb-2"></p-skeleton>
        <p-skeleton styleClass="mb-2"></p-skeleton>
      </div>
      } @error {
      <i class="pi pi-search"></i>
      }
    </p-panel>
  </div>
</div>
