<!-- Model API - Example - 1 -->
<!-- <app-custom-checkbox  label="Course Completed" [(value)]="completed" ></app-custom-checkbox>  -->
<!-- <button type="button" title="lslsls" [ngClass]="{'selected':completed()}" (click)="onToggle()">Toogle checkbox</button> -->

<hr/>
<!-- Model API - Example - 2 -->

<!-- {{ this.dropDownStatus() }} -->

<!-- <app-dropdown label="asd" [(value)]="dropDownStatus()[0]"></app-dropdown>
<app-dropdown label="vvv" [(value)]="dropDownStatus()[1]"></app-dropdown>
<app-dropdown label="eee" [(value)]="dropDownStatus()[2]"></app-dropdown> -->

<!-- <app-dropdown label="asd" [(value)]="dropDownStatus"></app-dropdown> -->

<!-- <app-dropdown label="vvv" [(value)]="sumit"></app-dropdown>
<app-dropdown label="ooo" [(value)]="stonecold"></app-dropdown>
<app-dropdown label="qqq" [(value)]="undertakerT"></app-dropdown> -->

<!-- <app-dropdown label="asd" [(value)]="brock"></app-dropdown> -->

<app-drop-down-names [(itemq)]="shawn"></app-drop-down-names>
<app-boxes [(itemq)]="shawn" (selectedBoxes)="readSelectedBoxes($event)"></app-boxes>