//@tailwind base;
@tailwind components;
@tailwind utilities;

// @import "tailwindcss/base" layer(tailwindcss);
// @import "tailwindcss/components"layer(tailwindcss);
// @import "tailwindcss/utilities"layer(tailwindcss);

@import "primeng/resources/themes/lara-dark-teal/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";


$pc:#5A31F4;

.p-sidebar-right {
  width: 34rem;
}

.text-in-a-line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.p-toast {
  .p-toast-icon-close {
    position: absolute;
    top: 0;
    right: 0;
  }
}


.add-edit-product-form {
  .p-calendar table td>span {
    width: 1.3rem !important;
    height: 1.3rem !important;
  }
}



.overlay-custom-text-product-deleted {
  text-align: center;
  position: relative;
  top: 0;
  height: 80px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  opacity: 0.3;

  &:after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    content: "Product Deleted";
    padding: 2px 6px;
    border: 1px solid white;
    display: flex;
    width: 160px;
    text-align: center;
    justify-content: center;
    justify-self: center;
  }
}

.overlay-custom-text-product-deleted-cart {
  @extend .overlay-custom-text-product-deleted;
  height: auto !important;
}

.p-toolbar {
  padding-top: 0;
  padding-bottom: 0;
}


form {
  .p-autocomplete {
    width: 100%;
  }
}


button {
  &.p-button-icon-only {
    &.p-button-sm {
      padding: 12px 8px;
      width: 34px;
      height: 34px;
    }
  }
}
