// @tailwind base;
@tailwind components;
@tailwind utilities;
// @import "tailwindcss/base" layer(tailwindcss);
// @import "tailwindcss/components" layer(tailwindcss);
// @import "tailwindcss/utilities" layer(tailwindcss);


@import "primeng/resources/themes/lara-dark-teal/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";


.p-sidebar-right {
  width: 34rem;
}

.text-in-a-line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.p-toast {
  .p-toast-icon-close {
    position: absolute;
    top: 0;
    right: 0;
  }
}
